In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('practice').getOrCreate()

24/01/29 12:34:02 WARN Utils: Your hostname, venkatesh-VirtualBox resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
24/01/29 12:34:02 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/01/29 12:34:07 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
spark

In [3]:
spark.version

'3.3.2'

In [4]:
spark_csv = spark.read.option('header', True).csv('students.csv')
spark_csv.show()

+-------+-------+------+---+
|roll_no|   name|gender|age|
+-------+-------+------+---+
|      1| Aditya|  Male| 23|
|      2| Ananya|Female| 19|
|      3|  Arjun|  Male| 21|
|      4|Amrutha|Female| 18|
|      5| Akhila|Female| 24|
|      6|   Ajay|  Male| 20|
+-------+-------+------+---+

In [5]:
type(spark_csv)
df = spark_csv

In [6]:
df.show()

+-------+-------+------+---+
|roll_no|   name|gender|age|
+-------+-------+------+---+
|      1| Aditya|  Male| 23|
|      2| Ananya|Female| 19|
|      3|  Arjun|  Male| 21|
|      4|Amrutha|Female| 18|
|      5| Akhila|Female| 24|
|      6|   Ajay|  Male| 20|
+-------+-------+------+---+

In [7]:
df.filter(df.age > 20).show()

+-------+------+------+---+
|roll_no|  name|gender|age|
+-------+------+------+---+
|      1|Aditya|  Male| 23|
|      3| Arjun|  Male| 21|
|      5|Akhila|Female| 24|
+-------+------+------+---+

In [8]:
df.groupby('gender').count().show()

+------+-----+
|gender|count|
+------+-----+
|Female|    3|
|  Male|    3|
+------+-----+

In [9]:
df.printSchema()

root
 |-- roll_no: string (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: string (nullable = true)

In [10]:
df.select('name').show()

+-------+
|   name|
+-------+
| Aditya|
| Ananya|
|  Arjun|
|Amrutha|
| Akhila|
|   Ajay|
+-------+

In [11]:
df.select(['roll_no','name']).show()

+-------+-------+
|roll_no|   name|
+-------+-------+
|      1| Aditya|
|      2| Ananya|
|      3|  Arjun|
|      4|Amrutha|
|      5| Akhila|
|      6|   Ajay|
+-------+-------+

In [12]:
df.dtypes

[('roll_no', 'string'),
 ('name', 'string'),
 ('gender', 'string'),
 ('age', 'string')]

In [13]:
df.describe()

DataFrame[summary: string, roll_no: string, name: string, gender: string, age: string]

In [14]:
df.describe().show()

+-------+------------------+------+------+------------------+
|summary|           roll_no|  name|gender|               age|
+-------+------------------+------+------+------------------+
|  count|                 6|     6|     6|                 6|
|   mean|               3.5|  null|  null|20.833333333333332|
| stddev|1.8708286933869707|  null|  null|2.3166067138525404|
|    min|                 1|Aditya|Female|                18|
|    max|                 6| Arjun|  Male|                24|
+-------+------------------+------+------+------------------+

In [15]:
#Adding a column to dataframe
df = df.withColumn('Marks', df['roll_no']+10)

In [16]:
df.show()

+-------+-------+------+---+-----+
|roll_no|   name|gender|age|Marks|
+-------+-------+------+---+-----+
|      1| Aditya|  Male| 23| 11.0|
|      2| Ananya|Female| 19| 12.0|
|      3|  Arjun|  Male| 21| 13.0|
|      4|Amrutha|Female| 18| 14.0|
|      5| Akhila|Female| 24| 15.0|
|      6|   Ajay|  Male| 20| 16.0|
+-------+-------+------+---+-----+

In [17]:
#delete a column from dataframe
df = df.drop('Marks').show()

+-------+-------+------+---+
|roll_no|   name|gender|age|
+-------+-------+------+---+
|      1| Aditya|  Male| 23|
|      2| Ananya|Female| 19|
|      3|  Arjun|  Male| 21|
|      4|Amrutha|Female| 18|
|      5| Akhila|Female| 24|
|      6|   Ajay|  Male| 20|
+-------+-------+------+---+

# Aggregate

In [20]:
df = spark.read.option('header', True).csv('students.csv')
df.show()

+-------+-------+------+---+
|roll_no|   name|gender|age|
+-------+-------+------+---+
|      1| Aditya|  Male| 23|
|      2| Ananya|Female| 19|
|      3|  Arjun|  Male| 21|
|      4|Amrutha|Female| 18|
|      5| Akhila|Female| 24|
|      6|   Ajay|  Male| 20|
+-------+-------+------+---+

In [22]:
df.agg({'age': 'max'}).show()

+--------+
|max(age)|
+--------+
|      24|
+--------+

In [23]:
df.agg({'age': 'sum'}).show()

+--------+
|sum(age)|
+--------+
|   125.0|
+--------+

In [24]:
# Displaying records by a column in ascending/descending order
df.orderBy('age').show()

+-------+-------+------+---+
|roll_no|   name|gender|age|
+-------+-------+------+---+
|      4|Amrutha|Female| 18|
|      2| Ananya|Female| 19|
|      6|   Ajay|  Male| 20|
|      3|  Arjun|  Male| 21|
|      1| Aditya|  Male| 23|
|      5| Akhila|Female| 24|
+-------+-------+------+---+

In [25]:
df.orderBy(df['age'].desc()).show()

+-------+-------+------+---+
|roll_no|   name|gender|age|
+-------+-------+------+---+
|      5| Akhila|Female| 24|
|      1| Aditya|  Male| 23|
|      3|  Arjun|  Male| 21|
|      6|   Ajay|  Male| 20|
|      2| Ananya|Female| 19|
|      4|Amrutha|Female| 18|
+-------+-------+------+---+

In [27]:
df.printSchema()

root
 |-- roll_no: string (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: string (nullable = true)

In [28]:
df.select('*').show()

+-------+-------+------+---+
|roll_no|   name|gender|age|
+-------+-------+------+---+
|      1| Aditya|  Male| 23|
|      2| Ananya|Female| 19|
|      3|  Arjun|  Male| 21|
|      4|Amrutha|Female| 18|
|      5| Akhila|Female| 24|
|      6|   Ajay|  Male| 20|
+-------+-------+------+---+

In [29]:
#show summary of the dataframe
df.select('*').describe().show()

+-------+------------------+------+------+------------------+
|summary|           roll_no|  name|gender|               age|
+-------+------------------+------+------+------------------+
|  count|                 6|     6|     6|                 6|
|   mean|               3.5|  null|  null|20.833333333333332|
| stddev|1.8708286933869707|  null|  null|2.3166067138525404|
|    min|                 1|Aditya|Female|                18|
|    max|                 6| Arjun|  Male|                24|
+-------+------------------+------+------+------------------+

In [31]:
df.createOrReplaceTempView('students')
spark.sql('select * from students').show()

+-------+-------+------+---+
|roll_no|   name|gender|age|
+-------+-------+------+---+
|      1| Aditya|  Male| 23|
|      2| Ananya|Female| 19|
|      3|  Arjun|  Male| 21|
|      4|Amrutha|Female| 18|
|      5| Akhila|Female| 24|
|      6|   Ajay|  Male| 20|
+-------+-------+------+---+