In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,lit,max

In [2]:
spark = SparkSession.builder.appName('notebook').getOrCreate()

24/01/31 19:06:06 WARN Utils: Your hostname, venkatesh-VirtualBox resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
24/01/31 19:06:06 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/01/31 19:06:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
# Sample dataset creation
data = [("AA", "John", 5),
        ("BB", "Alice", 8),
        ("CC", "Bob", 12),
        ("AA", "Eve", 4),
        ("DD", "Charlie", 7)]
columns = ["Brand", "Name", "Rank"]

In [4]:
df = spark.createDataFrame(data, columns)

In [5]:
print('Original dataset')
df.show()

Original dataset

+-----+-------+----+
|Brand|   Name|Rank|
+-----+-------+----+
|   AA|   John|   5|
|   BB|  Alice|   8|
|   CC|    Bob|  12|
|   AA|    Eve|   4|
|   DD|Charlie|   7|
+-----+-------+----+

In [6]:
filtered_df = df.filter(df['Rank'] <= 8)
print('filtered dataset rank <= 8')
filtered_df.show()

filtered dataset rank <= 8
+-----+-------+----+
|Brand|   Name|Rank|
+-----+-------+----+
|   AA|   John|   5|
|   BB|  Alice|   8|
|   AA|    Eve|   4|
|   DD|Charlie|   7|
+-----+-------+----+

In [7]:
# Check whether "AA", "BB", "CC" are present in the filtered dataset
missing_brands = ["AA", "BB", "CC"]
missing_brands_df = filtered_df.filter(~col("Brand").isin(missing_brands))
missing_brands_df.show()

+-----+-------+----+
|Brand|   Name|Rank|
+-----+-------+----+
|   DD|Charlie|   7|
+-----+-------+----+

In [11]:
# Replace the rows with all columns of the missing brands
if missing_brands_df.count() > 0:
    # Select one of the missing brands
    replacement_brand = missing_brands[0]
    
    # Create a DataFrame with the missing brand's values
    replacement_df = spark.createDataFrame([(replacement_brand, '', '')], columns)
    
    # Replace the rows with all columns of the missing brand
    replaced_df = filtered_df.replace(missing_brands, [replacement_brand]*len(missing_brands), subset="Brand")
    replaced_df = replaced_df.union(replacement_df.join(missing_brands_df, "Brand", "right_outer")
                                      .drop(missing_brands_df.Brand))
    replaced_df = replaced_df.fillna(replacement_df.filter(col("Brand") == replacement_brand).first())
 
else:
    replaced_df = filtered_df

AnalysisException: Union can only be performed on tables with the same number of columns, but the first table has 3 columns and the second table has 4 columns;
'Union false, false
:- Project [CASE WHEN (Brand#0 = AA) THEN cast(AA as string) WHEN (Brand#0 = BB) THEN cast(AA as string) WHEN (Brand#0 = CC) THEN cast(AA as string) ELSE Brand#0 END AS Brand#86, Name#1, Rank#2L]
:  +- Filter (Rank#2L <= cast(8 as bigint))
:     +- LogicalRDD [Brand#0, Name#1, Rank#2L], false
+- Project [Name#78, Rank#79, Name#100, Rank#101L]
   +- Join RightOuter, (Brand#77 = Brand#99)
      :- LogicalRDD [Brand#77, Name#78, Rank#79], false
      +- Filter NOT Brand#99 IN (AA,BB,CC)
         +- Filter (Rank#101L <= cast(8 as bigint))
            +- LogicalRDD [Brand#99, Name#100, Rank#101L], false